* {
    font-family: "Verdana", serif;
    font-size: 15px;
    background-color: honeydew;
    text-align: center;
}

h1, h2, strong {
    font-family: "Georgia", serif;
    color: blueviolet;
    font-weight: bolder;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

div.ingredients {
    text-align: center;
}

div.steps {
    text-align: center;
}

ul{
    display: inline-block;
    list-style-type: none;
}

ol {
    display: inline-block;
}